.vscode/settings.json
Pipfile.lock
Python/Machine Learning/.ipynb_checkpoints/Hierarchical Clustering-checkpoint.ipynb
Python/Machine Learning/.ipynb_checkpoints/SVM (Support Vector Machines) -- Need to refine this-checkpoint.ipynb
Python/Machine Learning/.ipynb_checkpoints/K-Means Clustering-checkpoint.ipynb
Python/Machine Learning/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Python/Machine Learning/.ipynb_checkpoints/Density-Based Clustering-checkpoint.ipynb
Python/Machine Learning/sample.ipynb
apple.csv
ball.csv
data.csv
notes.code-workspace
twitterData.json
Python/Machine Learning/customer_segmentation.csv
Fresco.ipynb

Python/IrisDataSet/.ipynb_checkpoints/IrisDataSet Exploring-checkpoint.ipynb

Python/IrisDataSet/.ipynb_checkpoints/
