[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pandas = "*"
sklearn = "*"
jupyter = "*"
matplotlib = "*"
scipy = "*"
ipykernel = "*"
qiskit = "*"

[requires]
python_version = "3.6"
